---
---

html {
	font-family: 'Verdana', 'PT Sans', sans-serif;
}

body {
	padding-bottom: 2rem;
	padding-top: 6rem;
}

h2, h3, h4 {
	color: #101308;
}

p {
	font-size: 16px;
}

header {
	background-color: #101308;
	height: 6rem;

	.header--logo {
		height: 5rem;
		margin-top: .4rem;
	}
	
	.icon-bar {
		background-color: #ffffff;
		height: 3px;
	}
	
	#header-navbar-collapse {
		&.in {
			background-color: #101308;
		}
	}

	.navbar-right {
		margin-top: .5rem;
	}
	
	.navbar--icons {
		color: #ffffff;
		font-size: 1em;
		
		&:hover {
			background-color: #101308 !important;
			color: orange;
		}
	}
}

.index {
	width: 100%;

	.index--logo {
		margin-top: 3rem;
		width: 100%;
	}

	.index--slogan {
		margin-bottom: 5rem;
		margin-top: -40px;
		text-align: center;
	}

	.index--description {
		text-align: center;
	}

	.index--scentple {
		margin: 2rem auto;
		text-align: center;
	}
}

.scentple {
	.scentple-logo {
		margin-left: -15px;
		margin-top: 2rem;
		width: 100%;
	}

	.scentple--top {
		margin-bottom: 2rem;
		margin-top: 2rem;
		// text-align: center;
	}

	.scentple-app--link {
		color: #1d3354;
	}
}

.team {
	margin-top: 8rem;
	text-align: center;
}

.products {
}

.why {
	.why--big-question {
		background-color: #101308;
		border-radius: 10px;
		color: #ffffff;
		height: 10rem;
		margin-bottom: 5rem;
		margin-top: 8rem;
		padding-top: 3rem;
		text-align: center;
	}

	.why--fresheyes {
		margin-bottom: 3rem;
		text-align: center;
	}
}

.contact {
	.contact--header {
		margin-bottom: 4rem;
		margin-top: 4rem;
		text-align: center;
	}

	.contact--form-label {
		margin-left: -15px;
	}

	.form-group > label {
		width: 100%;
	}

	.contact--button {
		background-color: #101308;
		color: #ffffff;
	}
}
